<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wfdb.testappb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <service
            android:name=".EchoService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".MathService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".MainBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SUBMIT_ECHO" />
                <action android:name="android.intent.action.SUBMIT_MATH_OPERATION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
